<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>homeai userManage</title>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/userManage.css}" />
</head>
<body>
    <table>
        <tr th:each="userInfo:${userInfoList}">
        	<td th:text="${userInfo.getAccoutHa()}"></td>
        	<td th:text="${userInfo.getNameHa()}"></td>
        	<td th:text="${userInfo.getAgeHa()}"></td>
        	<td th:text="${userInfo.getSex()}"></td>
        	<td th:text="${userInfo.getSysLv()}"></td>
        	<td th:text="${userInfo.getPasswordHa()}"></td>
        </tr>
    </table>
    <script type="text/javascript" th:src="@{/js/lazyload.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript">
        ctxPath = '[[@{/}]]';
        homeAiLoadJs(['js/userManage.js']);
    </script>
</body>
</html>